{% extends 'base.html' %}

{% block content %}
<div class="league-matches">
    <h2>{{ league.name }} Matches</h2>
    <ul class="match-list">
        {% for match in matches %}
        <li>
            <div class="match-info">
                <div class="team home-team">
                    <img src="{{ match.home_team.logo_url }}" alt="{{ match.home_team.name}} logo">
                    {{ match.home_team.name }}
                </div>
                <div class="score">- -</div>
                <div class="team away-team">
                    <img src="{{ match.away_team.logo_url }}" alt="{{ match.away_team.name}} logo">
                    {{ match.away_team.name }}
                </div>
            </div>
            <div class="match-details">
                <a href="{% url 'match_detail' match.slug %}">
                    <button>watch now ></button>
                    {{ match.match_date|date:"H:i" }}
                </a>
                {% if match.status == 'Live' %}
                <span class="live-indicator">Live</span>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}